html,
body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: black;

  .board {
    display: flex;
    justify-content: center;
    align-items: center;

    .cell {
      fill: whitesmoke;
      transition: .3s;
      height: 20px;

      &.active {
        fill: crimson;
        height: 100px;
      }
    }
  }
}