html,
body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 100%;
  height: 100%; }
  html .container,
  body .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: black; }
    html .container svg,
    body .container svg {
      margin-left: auto;
      margin-right: auto;
      width: 80%; }
    html .container iframe,
    body .container iframe {
      position: absolute;
      top: -100%;
      opacity: 0;
      background-color: red; }
