<% include common/head.ejs %>

<div class="container">
    <% for(var i=0; i<links.length; i++) { %>
    <div class="item">
        <a href='/<%= links[i] %>'>
            <%= links[i] %>
        </a>
    </div>
    <% } %>
</div>

<% include common/foot.ejs %>
