html,
body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 100%;
  height: 100%; }
  html img,
  body img {
    width: 100%;
    height: 100%;
    object-fit: contain; }
