<script src="library.js"></script>
<script src="service.js"></script>

<div class="container">
    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         viewBox="0 0 1729.1 250" style="enable-background:new 0 0 1729.1 198.4;" xml:space="preserve">
<g class="dot-line">
    <circle class="dot" cx="14.2" cy="14.2" r="14.2"/>
    <circle class="dot" cx="42.5" cy="14.2" r="14.2"/>
    <circle class="dot" cx="70.9" cy="14.2" r="14.2"/>
    <circle class="dot" cx="99.2" cy="14.2" r="14.2"/>
    <circle class="dot" cx="127.6" cy="14.2" r="14.2"/>
    <circle class="dot" cx="155.9" cy="14.2" r="14.2"/>
    <circle class="dot" cx="184.3" cy="14.2" r="14.2"/>
    <circle class="dot" cx="212.6" cy="14.2" r="14.2"/>
    <circle class="dot" cx="240.9" cy="14.2" r="14.2"/>
    <circle class="dot" cx="269.3" cy="14.2" r="14.2"/>
    <circle class="dot" cx="297.6" cy="14.2" r="14.2"/>
    <circle class="dot" cx="326" cy="14.2" r="14.2"/>
    <circle class="dot" cx="354.3" cy="14.2" r="14.2"/>
    <circle class="dot" cx="382.7" cy="14.2" r="14.2"/>
    <circle class="dot" cx="411" cy="14.2" r="14.2"/>
    <circle class="dot" cx="439.4" cy="14.2" r="14.2"/>
    <circle class="dot" cx="467.7" cy="14.2" r="14.2"/>
    <circle class="dot" cx="496.1" cy="14.2" r="14.2"/>
    <circle class="dot" cx="524.4" cy="14.2" r="14.2"/>
    <circle class="dot" cx="552.8" cy="14.2" r="14.2"/>
    <circle class="dot" cx="581.1" cy="14.2" r="14.2"/>
    <circle class="dot" cx="609.4" cy="14.2" r="14.2"/>
    <circle class="dot" cx="637.8" cy="14.2" r="14.2"/>
    <circle class="dot" cx="666.1" cy="14.2" r="14.2"/>
    <circle class="dot" cx="694.5" cy="14.2" r="14.2"/>
    <circle class="dot" cx="722.8" cy="14.2" r="14.2"/>
    <circle class="dot" cx="751.2" cy="14.2" r="14.2"/>
    <circle class="dot" cx="779.5" cy="14.2" r="14.2"/>
    <circle class="dot" cx="807.9" cy="14.2" r="14.2"/>
    <circle class="dot" cx="836.2" cy="14.2" r="14.2"/>
    <circle class="dot" cx="864.6" cy="14.2" r="14.2"/>
    <circle class="dot" cx="892.9" cy="14.2" r="14.2"/>
    <circle class="dot" cx="921.3" cy="14.2" r="14.2"/>
    <circle class="dot" cx="949.6" cy="14.2" r="14.2"/>
    <circle class="dot" cx="978" cy="14.2" r="14.2"/>
    <circle class="dot" cx="1006.3" cy="14.2" r="14.2"/>
    <circle class="dot" cx="1034.6" cy="14.2" r="14.2"/>
    <circle class="dot" cx="1063" cy="14.2" r="14.2"/>
    <circle class="dot" cx="1091.3" cy="14.2" r="14.2"/>
    <circle class="dot" cx="1119.7" cy="14.2" r="14.2"/>
    <circle class="dot" cx="1148" cy="14.2" r="14.2"/>
    <circle class="dot" cx="1176.4" cy="14.2" r="14.2"/>
    <circle class="dot" cx="1204.7" cy="14.2" r="14.2"/>
    <circle class="dot" cx="1233.1" cy="14.2" r="14.2"/>
    <circle class="dot" cx="1261.4" cy="14.2" r="14.2"/>
    <circle class="dot" cx="1289.8" cy="14.2" r="14.2"/>
    <circle class="dot" cx="1318.1" cy="14.2" r="14.2"/>
    <circle class="dot" cx="1346.5" cy="14.2" r="14.2"/>
    <circle class="dot" cx="1374.8" cy="14.2" r="14.2"/>
    <circle class="dot" cx="1403.1" cy="14.2" r="14.2"/>
    <circle class="dot" cx="1431.5" cy="14.2" r="14.2"/>
    <circle class="dot" cx="1459.8" cy="14.2" r="14.2"/>
    <circle class="dot" cx="1488.2" cy="14.2" r="14.2"/>
    <circle class="dot" cx="1516.5" cy="14.2" r="14.2"/>
    <circle class="dot" cx="1544.9" cy="14.2" r="14.2"/>
    <circle class="dot" cx="1573.2" cy="14.2" r="14.2"/>
    <circle class="dot" cx="1601.6" cy="14.2" r="14.2"/>
    <circle class="dot" cx="1629.9" cy="14.2" r="14.2"/>
    <circle class="dot" cx="1658.3" cy="14.2" r="14.2"/>
    <circle class="dot" cx="1686.6" cy="14.2" r="14.2"/>
    <circle class="dot" cx="1715" cy="14.2" r="14.2"/>
</g>
        <g class="dot-line">
            <circle class="dot" cx="14.2" cy="42.5" r="14.2"/>
            <circle class="dot" cx="42.5" cy="42.5" r="14.2"/>
            <circle class="dot" cx="70.9" cy="42.5" r="14.2"/>
            <circle class="dot" cx="99.2" cy="42.5" r="14.2"/>
            <circle class="dot" cx="127.6" cy="42.5" r="14.2"/>
            <circle class="dot" cx="155.9" cy="42.5" r="14.2"/>
            <circle class="dot" cx="184.3" cy="42.5" r="14.2"/>
            <circle class="dot" cx="212.6" cy="42.5" r="14.2"/>
            <circle class="dot" cx="240.9" cy="42.5" r="14.2"/>
            <circle class="dot" cx="269.3" cy="42.5" r="14.2"/>
            <circle class="dot" cx="297.6" cy="42.5" r="14.2"/>
            <circle class="dot" cx="326" cy="42.5" r="14.2"/>
            <circle class="dot" cx="354.3" cy="42.5" r="14.2"/>
            <circle class="dot" cx="382.7" cy="42.5" r="14.2"/>
            <circle class="dot" cx="411" cy="42.5" r="14.2"/>
            <circle class="dot" cx="439.4" cy="42.5" r="14.2"/>
            <circle class="dot" cx="467.7" cy="42.5" r="14.2"/>
            <circle class="dot" cx="496.1" cy="42.5" r="14.2"/>
            <circle class="dot" cx="524.4" cy="42.5" r="14.2"/>
            <circle class="dot" cx="552.8" cy="42.5" r="14.2"/>
            <circle class="dot" cx="581.1" cy="42.5" r="14.2"/>
            <circle class="dot" cx="609.4" cy="42.5" r="14.2"/>
            <circle class="dot" cx="637.8" cy="42.5" r="14.2"/>
            <circle class="dot" cx="666.1" cy="42.5" r="14.2"/>
            <circle class="dot" cx="694.5" cy="42.5" r="14.2"/>
            <circle class="dot" cx="722.8" cy="42.5" r="14.2"/>
            <circle class="dot" cx="751.2" cy="42.5" r="14.2"/>
            <circle class="dot" cx="779.5" cy="42.5" r="14.2"/>
            <circle class="dot" cx="807.9" cy="42.5" r="14.2"/>
            <circle class="dot" cx="836.2" cy="42.5" r="14.2"/>
            <circle class="dot" cx="864.6" cy="42.5" r="14.2"/>
            <circle class="dot" cx="892.9" cy="42.5" r="14.2"/>
            <circle class="dot" cx="921.3" cy="42.5" r="14.2"/>
            <circle class="dot" cx="949.6" cy="42.5" r="14.2"/>
            <circle class="dot" cx="978" cy="42.5" r="14.2"/>
            <circle class="dot" cx="1006.3" cy="42.5" r="14.2"/>
            <circle class="dot" cx="1034.6" cy="42.5" r="14.2"/>
            <circle class="dot" cx="1063" cy="42.5" r="14.2"/>
            <circle class="dot" cx="1091.3" cy="42.5" r="14.2"/>
            <circle class="dot" cx="1119.7" cy="42.5" r="14.2"/>
            <circle class="dot" cx="1148" cy="42.5" r="14.2"/>
            <circle class="dot" cx="1176.4" cy="42.5" r="14.2"/>
            <circle class="dot" cx="1204.7" cy="42.5" r="14.2"/>
            <circle class="dot" cx="1233.1" cy="42.5" r="14.2"/>
            <circle class="dot" cx="1261.4" cy="42.5" r="14.2"/>
            <circle class="dot" cx="1289.8" cy="42.5" r="14.2"/>
            <circle class="dot" cx="1318.1" cy="42.5" r="14.2"/>
            <circle class="dot" cx="1346.5" cy="42.5" r="14.2"/>
            <circle class="dot" cx="1374.8" cy="42.5" r="14.2"/>
            <circle class="dot" cx="1403.1" cy="42.5" r="14.2"/>
            <circle class="dot" cx="1431.5" cy="42.5" r="14.2"/>
            <circle class="dot" cx="1459.8" cy="42.5" r="14.2"/>
            <circle class="dot" cx="1488.2" cy="42.5" r="14.2"/>
            <circle class="dot" cx="1516.5" cy="42.5" r="14.2"/>
            <circle class="dot" cx="1544.9" cy="42.5" r="14.2"/>
            <circle class="dot" cx="1573.2" cy="42.5" r="14.2"/>
            <circle class="dot" cx="1601.6" cy="42.5" r="14.2"/>
            <circle class="dot" cx="1629.9" cy="42.5" r="14.2"/>
            <circle class="dot" cx="1658.3" cy="42.5" r="14.2"/>
            <circle class="dot" cx="1686.6" cy="42.5" r="14.2"/>
            <circle class="dot" cx="1715" cy="42.5" r="14.2"/>
        </g>
        <g class="dot-line">
            <circle class="dot" cx="14.2" cy="70.9" r="14.2"/>
            <circle class="dot" cx="42.5" cy="70.9" r="14.2"/>
            <circle class="dot" cx="70.9" cy="70.9" r="14.2"/>
            <circle class="dot" cx="99.2" cy="70.9" r="14.2"/>
            <circle class="dot" cx="127.6" cy="70.9" r="14.2"/>
            <circle class="dot" cx="155.9" cy="70.9" r="14.2"/>
            <circle class="dot" cx="184.3" cy="70.9" r="14.2"/>
            <circle class="dot" cx="212.6" cy="70.9" r="14.2"/>
            <circle class="dot" cx="240.9" cy="70.9" r="14.2"/>
            <circle class="dot" cx="269.3" cy="70.9" r="14.2"/>
            <circle class="dot" cx="297.6" cy="70.9" r="14.2"/>
            <circle class="dot" cx="326" cy="70.9" r="14.2"/>
            <circle class="dot" cx="354.3" cy="70.9" r="14.2"/>
            <circle class="dot" cx="382.7" cy="70.9" r="14.2"/>
            <circle class="dot" cx="411" cy="70.9" r="14.2"/>
            <circle class="dot" cx="439.4" cy="70.9" r="14.2"/>
            <circle class="dot" cx="467.7" cy="70.9" r="14.2"/>
            <circle class="dot" cx="496.1" cy="70.9" r="14.2"/>
            <circle class="dot" cx="524.4" cy="70.9" r="14.2"/>
            <circle class="dot" cx="552.8" cy="70.9" r="14.2"/>
            <circle class="dot" cx="581.1" cy="70.9" r="14.2"/>
            <circle class="dot" cx="609.4" cy="70.9" r="14.2"/>
            <circle class="dot" cx="637.8" cy="70.9" r="14.2"/>
            <circle class="dot" cx="666.1" cy="70.9" r="14.2"/>
            <circle class="dot" cx="694.5" cy="70.9" r="14.2"/>
            <circle class="dot" cx="722.8" cy="70.9" r="14.2"/>
            <circle class="dot" cx="751.2" cy="70.9" r="14.2"/>
            <circle class="dot" cx="779.5" cy="70.9" r="14.2"/>
            <circle class="dot" cx="807.9" cy="70.9" r="14.2"/>
            <circle class="dot" cx="836.2" cy="70.9" r="14.2"/>
            <circle class="dot" cx="864.6" cy="70.9" r="14.2"/>
            <circle class="dot" cx="892.9" cy="70.9" r="14.2"/>
            <circle class="dot" cx="921.3" cy="70.9" r="14.2"/>
            <circle class="dot" cx="949.6" cy="70.9" r="14.2"/>
            <circle class="dot" cx="978" cy="70.9" r="14.2"/>
            <circle class="dot" cx="1006.3" cy="70.9" r="14.2"/>
            <circle class="dot" cx="1034.6" cy="70.9" r="14.2"/>
            <circle class="dot" cx="1063" cy="70.9" r="14.2"/>
            <circle class="dot" cx="1091.3" cy="70.9" r="14.2"/>
            <circle class="dot" cx="1119.7" cy="70.9" r="14.2"/>
            <circle class="dot" cx="1148" cy="70.9" r="14.2"/>
            <circle class="dot" cx="1176.4" cy="70.9" r="14.2"/>
            <circle class="dot" cx="1204.7" cy="70.9" r="14.2"/>
            <circle class="dot" cx="1233.1" cy="70.9" r="14.2"/>
            <circle class="dot" cx="1261.4" cy="70.9" r="14.2"/>
            <circle class="dot" cx="1289.8" cy="70.9" r="14.2"/>
            <circle class="dot" cx="1318.1" cy="70.9" r="14.2"/>
            <circle class="dot" cx="1346.5" cy="70.9" r="14.2"/>
            <circle class="dot" cx="1374.8" cy="70.9" r="14.2"/>
            <circle class="dot" cx="1403.1" cy="70.9" r="14.2"/>
            <circle class="dot" cx="1431.5" cy="70.9" r="14.2"/>
            <circle class="dot" cx="1459.8" cy="70.9" r="14.2"/>
            <circle class="dot" cx="1488.2" cy="70.9" r="14.2"/>
            <circle class="dot" cx="1516.5" cy="70.9" r="14.2"/>
            <circle class="dot" cx="1544.9" cy="70.9" r="14.2"/>
            <circle class="dot" cx="1573.2" cy="70.9" r="14.2"/>
            <circle class="dot" cx="1601.6" cy="70.9" r="14.2"/>
            <circle class="dot" cx="1629.9" cy="70.9" r="14.2"/>
            <circle class="dot" cx="1658.3" cy="70.9" r="14.2"/>
            <circle class="dot" cx="1686.6" cy="70.9" r="14.2"/>
            <circle class="dot" cx="1715" cy="70.9" r="14.2"/>
        </g>
        <g class="dot-line">
            <circle class="dot" cx="14.2" cy="99.2" r="14.2"/>
            <circle class="dot" cx="42.5" cy="99.2" r="14.2"/>
            <circle class="dot" cx="70.9" cy="99.2" r="14.2"/>
            <circle class="dot" cx="99.2" cy="99.2" r="14.2"/>
            <circle class="dot" cx="127.6" cy="99.2" r="14.2"/>
            <circle class="dot" cx="155.9" cy="99.2" r="14.2"/>
            <circle class="dot" cx="184.3" cy="99.2" r="14.2"/>
            <circle class="dot" cx="212.6" cy="99.2" r="14.2"/>
            <circle class="dot" cx="240.9" cy="99.2" r="14.2"/>
            <circle class="dot" cx="269.3" cy="99.2" r="14.2"/>
            <circle class="dot" cx="297.6" cy="99.2" r="14.2"/>
            <circle class="dot" cx="326" cy="99.2" r="14.2"/>
            <circle class="dot" cx="354.3" cy="99.2" r="14.2"/>
            <circle class="dot" cx="382.7" cy="99.2" r="14.2"/>
            <circle class="dot" cx="411" cy="99.2" r="14.2"/>
            <circle class="dot" cx="439.4" cy="99.2" r="14.2"/>
            <circle class="dot" cx="467.7" cy="99.2" r="14.2"/>
            <circle class="dot" cx="496.1" cy="99.2" r="14.2"/>
            <circle class="dot" cx="524.4" cy="99.2" r="14.2"/>
            <circle class="dot" cx="552.8" cy="99.2" r="14.2"/>
            <circle class="dot" cx="581.1" cy="99.2" r="14.2"/>
            <circle class="dot" cx="609.4" cy="99.2" r="14.2"/>
            <circle class="dot" cx="637.8" cy="99.2" r="14.2"/>
            <circle class="dot" cx="666.1" cy="99.2" r="14.2"/>
            <circle class="dot" cx="694.5" cy="99.2" r="14.2"/>
            <circle class="dot" cx="722.8" cy="99.2" r="14.2"/>
            <circle class="dot" cx="751.2" cy="99.2" r="14.2"/>
            <circle class="dot" cx="779.5" cy="99.2" r="14.2"/>
            <circle class="dot" cx="807.9" cy="99.2" r="14.2"/>
            <circle class="dot" cx="836.2" cy="99.2" r="14.2"/>
            <circle class="dot" cx="864.6" cy="99.2" r="14.2"/>
            <circle class="dot" cx="892.9" cy="99.2" r="14.2"/>
            <circle class="dot" cx="921.3" cy="99.2" r="14.2"/>
            <circle class="dot" cx="949.6" cy="99.2" r="14.2"/>
            <circle class="dot" cx="978" cy="99.2" r="14.2"/>
            <circle class="dot" cx="1006.3" cy="99.2" r="14.2"/>
            <circle class="dot" cx="1034.6" cy="99.2" r="14.2"/>
            <circle class="dot" cx="1063" cy="99.2" r="14.2"/>
            <circle class="dot" cx="1091.3" cy="99.2" r="14.2"/>
            <circle class="dot" cx="1119.7" cy="99.2" r="14.2"/>
            <circle class="dot" cx="1148" cy="99.2" r="14.2"/>
            <circle class="dot" cx="1176.4" cy="99.2" r="14.2"/>
            <circle class="dot" cx="1204.7" cy="99.2" r="14.2"/>
            <circle class="dot" cx="1233.1" cy="99.2" r="14.2"/>
            <circle class="dot" cx="1261.4" cy="99.2" r="14.2"/>
            <circle class="dot" cx="1289.8" cy="99.2" r="14.2"/>
            <circle class="dot" cx="1318.1" cy="99.2" r="14.2"/>
            <circle class="dot" cx="1346.5" cy="99.2" r="14.2"/>
            <circle class="dot" cx="1374.8" cy="99.2" r="14.2"/>
            <circle class="dot" cx="1403.1" cy="99.2" r="14.2"/>
            <circle class="dot" cx="1431.5" cy="99.2" r="14.2"/>
            <circle class="dot" cx="1459.8" cy="99.2" r="14.2"/>
            <circle class="dot" cx="1488.2" cy="99.2" r="14.2"/>
            <circle class="dot" cx="1516.5" cy="99.2" r="14.2"/>
            <circle class="dot" cx="1544.9" cy="99.2" r="14.2"/>
            <circle class="dot" cx="1573.2" cy="99.2" r="14.2"/>
            <circle class="dot" cx="1601.6" cy="99.2" r="14.2"/>
            <circle class="dot" cx="1629.9" cy="99.2" r="14.2"/>
            <circle class="dot" cx="1658.3" cy="99.2" r="14.2"/>
            <circle class="dot" cx="1686.6" cy="99.2" r="14.2"/>
            <circle class="dot" cx="1715" cy="99.2" r="14.2"/>
        </g>
        <g class="dot-line">
            <circle class="dot" cx="14.2" cy="127.6" r="14.2"/>
            <circle class="dot" cx="42.5" cy="127.6" r="14.2"/>
            <circle class="dot" cx="70.9" cy="127.6" r="14.2"/>
            <circle class="dot" cx="99.2" cy="127.6" r="14.2"/>
            <circle class="dot" cx="127.6" cy="127.6" r="14.2"/>
            <circle class="dot" cx="155.9" cy="127.6" r="14.2"/>
            <circle class="dot" cx="184.3" cy="127.6" r="14.2"/>
            <circle class="dot" cx="212.6" cy="127.6" r="14.2"/>
            <circle class="dot" cx="240.9" cy="127.6" r="14.2"/>
            <circle class="dot" cx="269.3" cy="127.6" r="14.2"/>
            <circle class="dot" cx="297.6" cy="127.6" r="14.2"/>
            <circle class="dot" cx="326" cy="127.6" r="14.2"/>
            <circle class="dot" cx="354.3" cy="127.6" r="14.2"/>
            <circle class="dot" cx="382.7" cy="127.6" r="14.2"/>
            <circle class="dot" cx="411" cy="127.6" r="14.2"/>
            <circle class="dot" cx="439.4" cy="127.6" r="14.2"/>
            <circle class="dot" cx="467.7" cy="127.6" r="14.2"/>
            <circle class="dot" cx="496.1" cy="127.6" r="14.2"/>
            <circle class="dot" cx="524.4" cy="127.6" r="14.2"/>
            <circle class="dot" cx="552.8" cy="127.6" r="14.2"/>
            <circle class="dot" cx="581.1" cy="127.6" r="14.2"/>
            <circle class="dot" cx="609.4" cy="127.6" r="14.2"/>
            <circle class="dot" cx="637.8" cy="127.6" r="14.2"/>
            <circle class="dot" cx="666.1" cy="127.6" r="14.2"/>
            <circle class="dot" cx="694.5" cy="127.6" r="14.2"/>
            <circle class="dot" cx="722.8" cy="127.6" r="14.2"/>
            <circle class="dot" cx="751.2" cy="127.6" r="14.2"/>
            <circle class="dot" cx="779.5" cy="127.6" r="14.2"/>
            <circle class="dot" cx="807.9" cy="127.6" r="14.2"/>
            <circle class="dot" cx="836.2" cy="127.6" r="14.2"/>
            <circle class="dot" cx="864.6" cy="127.6" r="14.2"/>
            <circle class="dot" cx="892.9" cy="127.6" r="14.2"/>
            <circle class="dot" cx="921.3" cy="127.6" r="14.2"/>
            <circle class="dot" cx="949.6" cy="127.6" r="14.2"/>
            <circle class="dot" cx="978" cy="127.6" r="14.2"/>
            <circle class="dot" cx="1006.3" cy="127.6" r="14.2"/>
            <circle class="dot" cx="1034.6" cy="127.6" r="14.2"/>
            <circle class="dot" cx="1063" cy="127.6" r="14.2"/>
            <circle class="dot" cx="1091.3" cy="127.6" r="14.2"/>
            <circle class="dot" cx="1119.7" cy="127.6" r="14.2"/>
            <circle class="dot" cx="1148" cy="127.6" r="14.2"/>
            <circle class="dot" cx="1176.4" cy="127.6" r="14.2"/>
            <circle class="dot" cx="1204.7" cy="127.6" r="14.2"/>
            <circle class="dot" cx="1233.1" cy="127.6" r="14.2"/>
            <circle class="dot" cx="1261.4" cy="127.6" r="14.2"/>
            <circle class="dot" cx="1289.8" cy="127.6" r="14.2"/>
            <circle class="dot" cx="1318.1" cy="127.6" r="14.2"/>
            <circle class="dot" cx="1346.5" cy="127.6" r="14.2"/>
            <circle class="dot" cx="1374.8" cy="127.6" r="14.2"/>
            <circle class="dot" cx="1403.1" cy="127.6" r="14.2"/>
            <circle class="dot" cx="1431.5" cy="127.6" r="14.2"/>
            <circle class="dot" cx="1459.8" cy="127.6" r="14.2"/>
            <circle class="dot" cx="1488.2" cy="127.6" r="14.2"/>
            <circle class="dot" cx="1516.5" cy="127.6" r="14.2"/>
            <circle class="dot" cx="1544.9" cy="127.6" r="14.2"/>
            <circle class="dot" cx="1573.2" cy="127.6" r="14.2"/>
            <circle class="dot" cx="1601.6" cy="127.6" r="14.2"/>
            <circle class="dot" cx="1629.9" cy="127.6" r="14.2"/>
            <circle class="dot" cx="1658.3" cy="127.6" r="14.2"/>
            <circle class="dot" cx="1686.6" cy="127.6" r="14.2"/>
            <circle class="dot" cx="1715" cy="127.6" r="14.2"/>
        </g>
        <g class="dot-line">
            <circle class="dot" cx="14.2" cy="155.9" r="14.2"/>
            <circle class="dot" cx="42.5" cy="155.9" r="14.2"/>
            <circle class="dot" cx="70.9" cy="155.9" r="14.2"/>
            <circle class="dot" cx="99.2" cy="155.9" r="14.2"/>
            <circle class="dot" cx="127.6" cy="155.9" r="14.2"/>
            <circle class="dot" cx="155.9" cy="155.9" r="14.2"/>
            <circle class="dot" cx="184.3" cy="155.9" r="14.2"/>
            <circle class="dot" cx="212.6" cy="155.9" r="14.2"/>
            <circle class="dot" cx="240.9" cy="155.9" r="14.2"/>
            <circle class="dot" cx="269.3" cy="155.9" r="14.2"/>
            <circle class="dot" cx="297.6" cy="155.9" r="14.2"/>
            <circle class="dot" cx="326" cy="155.9" r="14.2"/>
            <circle class="dot" cx="354.3" cy="155.9" r="14.2"/>
            <circle class="dot" cx="382.7" cy="155.9" r="14.2"/>
            <circle class="dot" cx="411" cy="155.9" r="14.2"/>
            <circle class="dot" cx="439.4" cy="155.9" r="14.2"/>
            <circle class="dot" cx="467.7" cy="155.9" r="14.2"/>
            <circle class="dot" cx="496.1" cy="155.9" r="14.2"/>
            <circle class="dot" cx="524.4" cy="155.9" r="14.2"/>
            <circle class="dot" cx="552.8" cy="155.9" r="14.2"/>
            <circle class="dot" cx="581.1" cy="155.9" r="14.2"/>
            <circle class="dot" cx="609.4" cy="155.9" r="14.2"/>
            <circle class="dot" cx="637.8" cy="155.9" r="14.2"/>
            <circle class="dot" cx="666.1" cy="155.9" r="14.2"/>
            <circle class="dot" cx="694.5" cy="155.9" r="14.2"/>
            <circle class="dot" cx="722.8" cy="155.9" r="14.2"/>
            <circle class="dot" cx="751.2" cy="155.9" r="14.2"/>
            <circle class="dot" cx="779.5" cy="155.9" r="14.2"/>
            <circle class="dot" cx="807.9" cy="155.9" r="14.2"/>
            <circle class="dot" cx="836.2" cy="155.9" r="14.2"/>
            <circle class="dot" cx="864.6" cy="155.9" r="14.2"/>
            <circle class="dot" cx="892.9" cy="155.9" r="14.2"/>
            <circle class="dot" cx="921.3" cy="155.9" r="14.2"/>
            <circle class="dot" cx="949.6" cy="155.9" r="14.2"/>
            <circle class="dot" cx="978" cy="155.9" r="14.2"/>
            <circle class="dot" cx="1006.3" cy="155.9" r="14.2"/>
            <circle class="dot" cx="1034.6" cy="155.9" r="14.2"/>
            <circle class="dot" cx="1063" cy="155.9" r="14.2"/>
            <circle class="dot" cx="1091.3" cy="155.9" r="14.2"/>
            <circle class="dot" cx="1119.7" cy="155.9" r="14.2"/>
            <circle class="dot" cx="1148" cy="155.9" r="14.2"/>
            <circle class="dot" cx="1176.4" cy="155.9" r="14.2"/>
            <circle class="dot" cx="1204.7" cy="155.9" r="14.2"/>
            <circle class="dot" cx="1233.1" cy="155.9" r="14.2"/>
            <circle class="dot" cx="1261.4" cy="155.9" r="14.2"/>
            <circle class="dot" cx="1289.8" cy="155.9" r="14.2"/>
            <circle class="dot" cx="1318.1" cy="155.9" r="14.2"/>
            <circle class="dot" cx="1346.5" cy="155.9" r="14.2"/>
            <circle class="dot" cx="1374.8" cy="155.9" r="14.2"/>
            <circle class="dot" cx="1403.1" cy="155.9" r="14.2"/>
            <circle class="dot" cx="1431.5" cy="155.9" r="14.2"/>
            <circle class="dot" cx="1459.8" cy="155.9" r="14.2"/>
            <circle class="dot" cx="1488.2" cy="155.9" r="14.2"/>
            <circle class="dot" cx="1516.5" cy="155.9" r="14.2"/>
            <circle class="dot" cx="1544.9" cy="155.9" r="14.2"/>
            <circle class="dot" cx="1573.2" cy="155.9" r="14.2"/>
            <circle class="dot" cx="1601.6" cy="155.9" r="14.2"/>
            <circle class="dot" cx="1629.9" cy="155.9" r="14.2"/>
            <circle class="dot" cx="1658.3" cy="155.9" r="14.2"/>
            <circle class="dot" cx="1686.6" cy="155.9" r="14.2"/>
            <circle class="dot" cx="1715" cy="155.9" r="14.2"/>
        </g>
        <g class="dot-line">
            <circle class="dot" cx="14.2" cy="184.3" r="14.2"/>
            <circle class="dot" cx="42.5" cy="184.3" r="14.2"/>
            <circle class="dot" cx="70.9" cy="184.3" r="14.2"/>
            <circle class="dot" cx="99.2" cy="184.3" r="14.2"/>
            <circle class="dot" cx="127.6" cy="184.3" r="14.2"/>
            <circle class="dot" cx="155.9" cy="184.3" r="14.2"/>
            <circle class="dot" cx="184.3" cy="184.3" r="14.2"/>
            <circle class="dot" cx="212.6" cy="184.3" r="14.2"/>
            <circle class="dot" cx="240.9" cy="184.3" r="14.2"/>
            <circle class="dot" cx="269.3" cy="184.3" r="14.2"/>
            <circle class="dot" cx="297.6" cy="184.3" r="14.2"/>
            <circle class="dot" cx="326" cy="184.3" r="14.2"/>
            <circle class="dot" cx="354.3" cy="184.3" r="14.2"/>
            <circle class="dot" cx="382.7" cy="184.3" r="14.2"/>
            <circle class="dot" cx="411" cy="184.3" r="14.2"/>
            <circle class="dot" cx="439.4" cy="184.3" r="14.2"/>
            <circle class="dot" cx="467.7" cy="184.3" r="14.2"/>
            <circle class="dot" cx="496.1" cy="184.3" r="14.2"/>
            <circle class="dot" cx="524.4" cy="184.3" r="14.2"/>
            <circle class="dot" cx="552.8" cy="184.3" r="14.2"/>
            <circle class="dot" cx="581.1" cy="184.3" r="14.2"/>
            <circle class="dot" cx="609.4" cy="184.3" r="14.2"/>
            <circle class="dot" cx="637.8" cy="184.3" r="14.2"/>
            <circle class="dot" cx="666.1" cy="184.3" r="14.2"/>
            <circle class="dot" cx="694.5" cy="184.3" r="14.2"/>
            <circle class="dot" cx="722.8" cy="184.3" r="14.2"/>
            <circle class="dot" cx="751.2" cy="184.3" r="14.2"/>
            <circle class="dot" cx="779.5" cy="184.3" r="14.2"/>
            <circle class="dot" cx="807.9" cy="184.3" r="14.2"/>
            <circle class="dot" cx="836.2" cy="184.3" r="14.2"/>
            <circle class="dot" cx="864.6" cy="184.3" r="14.2"/>
            <circle class="dot" cx="892.9" cy="184.3" r="14.2"/>
            <circle class="dot" cx="921.3" cy="184.3" r="14.2"/>
            <circle class="dot" cx="949.6" cy="184.3" r="14.2"/>
            <circle class="dot" cx="978" cy="184.3" r="14.2"/>
            <circle class="dot" cx="1006.3" cy="184.3" r="14.2"/>
            <circle class="dot" cx="1034.6" cy="184.3" r="14.2"/>
            <circle class="dot" cx="1063" cy="184.3" r="14.2"/>
            <circle class="dot" cx="1091.3" cy="184.3" r="14.2"/>
            <circle class="dot" cx="1119.7" cy="184.3" r="14.2"/>
            <circle class="dot" cx="1148" cy="184.3" r="14.2"/>
            <circle class="dot" cx="1176.4" cy="184.3" r="14.2"/>
            <circle class="dot" cx="1204.7" cy="184.3" r="14.2"/>
            <circle class="dot" cx="1233.1" cy="184.3" r="14.2"/>
            <circle class="dot" cx="1261.4" cy="184.3" r="14.2"/>
            <circle class="dot" cx="1289.8" cy="184.3" r="14.2"/>
            <circle class="dot" cx="1318.1" cy="184.3" r="14.2"/>
            <circle class="dot" cx="1346.5" cy="184.3" r="14.2"/>
            <circle class="dot" cx="1374.8" cy="184.3" r="14.2"/>
            <circle class="dot" cx="1403.1" cy="184.3" r="14.2"/>
            <circle class="dot" cx="1431.5" cy="184.3" r="14.2"/>
            <circle class="dot" cx="1459.8" cy="184.3" r="14.2"/>
            <circle class="dot" cx="1488.2" cy="184.3" r="14.2"/>
            <circle class="dot" cx="1516.5" cy="184.3" r="14.2"/>
            <circle class="dot" cx="1544.9" cy="184.3" r="14.2"/>
            <circle class="dot" cx="1573.2" cy="184.3" r="14.2"/>
            <circle class="dot" cx="1601.6" cy="184.3" r="14.2"/>
            <circle class="dot" cx="1629.9" cy="184.3" r="14.2"/>
            <circle class="dot" cx="1658.3" cy="184.3" r="14.2"/>
            <circle class="dot" cx="1686.6" cy="184.3" r="14.2"/>
            <circle class="dot" cx="1715" cy="184.3" r="14.2"/>
        </g>
        <g class="dot-line">
            <circle class="dot" cx="14.2" cy="212.7" r="14.2"/>
            <circle class="dot" cx="42.5" cy="212.7" r="14.2"/>
            <circle class="dot" cx="70.9" cy="212.7" r="14.2"/>
            <circle class="dot" cx="99.2" cy="212.7" r="14.2"/>
            <circle class="dot" cx="127.6" cy="212.7" r="14.2"/>
            <circle class="dot" cx="155.9" cy="212.7" r="14.2"/>
            <circle class="dot" cx="184.3" cy="212.7" r="14.2"/>
            <circle class="dot" cx="212.6" cy="212.7" r="14.2"/>
            <circle class="dot" cx="240.9" cy="212.7" r="14.2"/>
            <circle class="dot" cx="269.3" cy="212.7" r="14.2"/>
            <circle class="dot" cx="297.6" cy="212.7" r="14.2"/>
            <circle class="dot" cx="326" cy="212.7" r="14.2"/>
            <circle class="dot" cx="354.3" cy="212.7" r="14.2"/>
            <circle class="dot" cx="382.7" cy="212.7" r="14.2"/>
            <circle class="dot" cx="411" cy="212.7" r="14.2"/>
            <circle class="dot" cx="439.4" cy="212.7" r="14.2"/>
            <circle class="dot" cx="467.7" cy="212.7" r="14.2"/>
            <circle class="dot" cx="496.1" cy="212.7" r="14.2"/>
            <circle class="dot" cx="524.4" cy="212.7" r="14.2"/>
            <circle class="dot" cx="552.8" cy="212.7" r="14.2"/>
            <circle class="dot" cx="581.1" cy="212.7" r="14.2"/>
            <circle class="dot" cx="609.4" cy="212.7" r="14.2"/>
            <circle class="dot" cx="637.8" cy="212.7" r="14.2"/>
            <circle class="dot" cx="666.1" cy="212.7" r="14.2"/>
            <circle class="dot" cx="694.5" cy="212.7" r="14.2"/>
            <circle class="dot" cx="722.8" cy="212.7" r="14.2"/>
            <circle class="dot" cx="751.2" cy="212.7" r="14.2"/>
            <circle class="dot" cx="779.5" cy="212.7" r="14.2"/>
            <circle class="dot" cx="807.9" cy="212.7" r="14.2"/>
            <circle class="dot" cx="836.2" cy="212.7" r="14.2"/>
            <circle class="dot" cx="864.6" cy="212.7" r="14.2"/>
            <circle class="dot" cx="892.9" cy="212.7" r="14.2"/>
            <circle class="dot" cx="921.3" cy="212.7" r="14.2"/>
            <circle class="dot" cx="949.6" cy="212.7" r="14.2"/>
            <circle class="dot" cx="978" cy="212.7" r="14.2"/>
            <circle class="dot" cx="1006.3" cy="212.7" r="14.2"/>
            <circle class="dot" cx="1034.6" cy="212.7" r="14.2"/>
            <circle class="dot" cx="1063" cy="212.7" r="14.2"/>
            <circle class="dot" cx="1091.3" cy="212.7" r="14.2"/>
            <circle class="dot" cx="1119.7" cy="212.7" r="14.2"/>
            <circle class="dot" cx="1148" cy="212.7" r="14.2"/>
            <circle class="dot" cx="1176.4" cy="212.7" r="14.2"/>
            <circle class="dot" cx="1204.7" cy="212.7" r="14.2"/>
            <circle class="dot" cx="1233.1" cy="212.7" r="14.2"/>
            <circle class="dot" cx="1261.4" cy="212.7" r="14.2"/>
            <circle class="dot" cx="1289.8" cy="212.7" r="14.2"/>
            <circle class="dot" cx="1318.1" cy="212.7" r="14.2"/>
            <circle class="dot" cx="1346.5" cy="212.7" r="14.2"/>
            <circle class="dot" cx="1374.8" cy="212.7" r="14.2"/>
            <circle class="dot" cx="1403.1" cy="212.7" r="14.2"/>
            <circle class="dot" cx="1431.5" cy="212.7" r="14.2"/>
            <circle class="dot" cx="1459.8" cy="212.7" r="14.2"/>
            <circle class="dot" cx="1488.2" cy="212.7" r="14.2"/>
            <circle class="dot" cx="1516.5" cy="212.7" r="14.2"/>
            <circle class="dot" cx="1544.9" cy="212.7" r="14.2"/>
            <circle class="dot" cx="1573.2" cy="212.7" r="14.2"/>
            <circle class="dot" cx="1601.6" cy="212.7" r="14.2"/>
            <circle class="dot" cx="1629.9" cy="212.7" r="14.2"/>
            <circle class="dot" cx="1658.3" cy="212.7" r="14.2"/>
            <circle class="dot" cx="1686.6" cy="212.7" r="14.2"/>
            <circle class="dot" cx="1715" cy="212.7" r="14.2"/>
        </g>
</svg>

</div>
