html,
body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%; }

html .container,
body .container {
  width: 60%; }

html .container svg,
body .container svg {
  width: 100%;
  height: 100%;
  fill: floralwhite; }

html .container svg .active,
body .container svg .active {
  fill: #ff6961; }
