<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>

<div class="dropzone"
     valid-mime-types="[image/png, image/jpeg, image/gif, audio/webm, audio/ogg, audio/aac, audio/mpeg, audio/mp3, audio/mp4, audio/x-ms-wma, audio/wav]"
     max-file-size="10">
</div>

<div class="library"></div>


