<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container">
    <div class="options">
        <!i class="pauseBtn" class="fa fa-pause" onclick="speechPause()"><!/i>
        <!i class="resumeBtn" class="fa fa-play" onclick="speechResume()"><!/i>
        <!i class="stopBtn" class="fa fa-stop" onclick="speechStop()"><!/i>
        <i class="stopBtn" class="fa fa-stop" onclick="speechCancel()"></i>
    </div>
    <div class="input">
        <input type="text" />
    </div>
    <div class="list"></div>
</div>

