html,
body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-family: 'Raleway', sans-serif;

  .container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    font-family: helvetica;

  }
  .options {
    padding: 10px;

    i {
      cursor: pointer;
      padding: 0 10px;
      font-size: 20px;
      color: rgba(150, 10, 10, .5);
      transition: .1s;

      &:hover {
        color: rgba(50, 100, 10, .5);
      }
    }
  }

  .list {
    height: 500px;
    padding: 10px;
    overflow: auto;
    box-shadow: 5px 5px 5px rgba(100, 100, 100, .1);
    border-radius: .3em;
  }
  ::-webkit-scrollbar {
    display: none;
  }
  .speech {
    flex: 1;
    margin: 2px;
    padding: 5px 10px;
    border-radius: .3em;
    background-color: rgba(100, 100, 100, 0);
    box-shadow: 0px 0px 2px rgba(100, 100, 100, .3);
    font-family: "Times New Roman", Times, serif;
    transition: .3s;
    cursor: pointer;

    &:hover {
      background-color: rgba(100, 100, 100, .1);
      box-shadow: 5px 5px 5px rgba(100, 100, 100, .3);
      transform: translate(-5px, -5px);
      transition: .1s;
    }
  }

}