<script type="text/javascript" src="https://code.jquery.com/jquery-1.2.6.min.js"></script>

<div class="contenu">
    <canvas id="secs" width="3000px" height="3000px"></canvas>
    <canvas id="mins" width="3000px" height="3000px"></canvas>
    <canvas id="hours" width="3000px" height="3000px"></canvas>
</div>






