html,
body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  .contenu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    #secs, #mins, #hours {
      position: absolute;
      margin: auto auto;
      height: 50%;
    }
    #secs {
      z-index: 3;
      opacity: 1;
    }
    #mins {
      z-index: 2;
    }
    #hours {
      z-index: 1;
    }
    #secs, #mins, #hours {
      transition: 0.8s;
    }
  }
}