html,
body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%; }
  html .board,
  body .board {
    display: flex;
    justify-content: center;
    align-items: center; }
    html .board .cell,
    body .board .cell {
      fill: white;
      transition: .3s;
      height: 20px; }
      html .board .cell.active,
      body .board .cell.active {
        fill: #ff6961;
        height: 60px; }
