html,
body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 100%;
  height: 100%; }
  html .container,
  body .container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%; }
    html .container .frames,
    body .container .frames {
      width: 60%;
      fill: none;
      stroke: black;
      stroke-width: .1px; }
      html .container .frames > *,
      body .container .frames > * {
        display: none; }
